language: erlang

otp_release:
  - 20.3
  - 21.1
  - 21.2

before_install:
  - sudo apt-add-repository --yes ppa:ansible/ansible
  - sudo apt-get update
  - sudo apt-get install ansible

install:
  - ansible-playbook scripts/provision-ci.yml
  - export PATH=$HOME/.dependencies/bin:$PATH

script:
  - make

after_success:
  - make coverage

deploy:
  provider: script
  script: bash scripts/publish.sh
  on:
    tags: true

cache:
  directories:
    - $HOME/.dependencies
    - $HOME/.cache/rebar3
