[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                include_dirs => ["include"],
                filter => "*.erl",
                rules => [
                    {elvis_style, function_naming_convention, #{
                        ignore => [bookish_spork_request],
                        regex => "^([a-z][a-z0-9]*_?)*$"
                    }}
                ],
                ruleset => erl_files
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            }
        ]}
    ]}
].
