{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{minimum_otp_vsn, "20.3"}.

{deps, []}.

{profiles, [
    {test, [
        {deps, [
            {gun, "1.3.3"}
        ]},

        {plugins, [
            covertool
        ]},

        {cover_enabled, true},
        {cover_export_enabled, true}
    ]},
    {edown, [
        {deps, [
            {edown, "0.8.4"}
        ]},
        {edoc_opts, [
            {doclet, edown_doclet},
            {def, {logo, "![Logo](logo.svg)"}},
            {top_level_readme,
                {"./README.md", "http://github.com/tank-bohr/bookish_spork", "master"}}
        ]}
    ]},
    {elvis, [
        {plugins, [
            {rebar3_lint, "0.4.0"}
        ]}
    ]}
]}.

{eunit_compile_opts, [export_all]}.

{edoc_opts, [
    {overview, "doc/overview.edoc"}
]}.

{hex, [
    {doc, #{provider => edoc}}
]}.
