{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    {hackney, "1.12.1"},
    {jsx, "2.9.0"}
]}.

{shell, [
  {apps, [hackney]}
]}.

{profiles, [
    {test, [
        {deps, [
            {bookish_spork, {git, "https://github.com/tank-bohr/bookish_spork.git"}}
        ]}
    ]}
]}.
